@font-face {
    font-family: 'SuisseIntl';
    src: url('../static/fonts/SuisseIntl-Regular-WebM.eot'); /* IE9 Compat Modes */
    src: url('../static/fonts/SuisseIntl-Regular-WebM.eot?#iefix') format('embedded-opentype'), url('../static/fonts/SuisseIntl-Regular-WebM.woff2') format('woff2'), url('../static/fonts/SuisseIntl-Regular-WebM.woff') format('woff'), url('../static/fonts/SuisseIntl-Regular-WebM.ttf') format('truetype'), url('../static/fonts/SuisseIntl-Regular-WebM.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

body {
    font-family: 'SuisseIntl', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1, h2, h3 {
    text-transform: uppercase;
    font-family: 'Futura', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-size: 1.875rem;
    font-weight: 500;
    margin: 0;
    margin-bottom: 1rem;
    line-height: 1.2;
}

p {
    font-family: 'SuisseIntl', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.4;
}

a {
    color: inherit;
    transition: color 0.3s ease-in-out;

    &:hover {
        color: blue;
    }
}